<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <span style="float: right; padding-top: 20px; display: inline-block;"> <%= link_to '<< Return to previous page', notes_path %></span>
        <h1><i class="fa fa-sticky-note"></i> Edit Note</h1>
      </div>
			<div class="row">
				<div class="col-md-7">
					<%= render 'form' %>
				</div>
				<div class="col-md-5">
					<%= link_to 'View note', @note %>
				</div>
			</div>
    </div>
  </div>
</div>