<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <%= render 'previous_page' %>
        <h1><i class="fa fa-sticky-note"></i> Create New Patient Note</h1>
      </div>
      <div class="row">
      	<div class="col-md-7">
      		<%= render :partial => 'form', :locals => { :edit => false } %>
      	</div>
      </div>
    </div>
  </div>
</div>
