<h1>Listing tiers</h1>

<%= link_to 'New Tier', new_tier_path %>

<table class="table">
  <thead>
    <tr>
      <th>Tier</th>
      <th>Notes</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tiers.each do |tier| %>
      <tr>
        <td><%= link_to tier.tier, tier %></td>
        <td><%= tier.notes %></td>
        <td><%= link_to 'Edit', edit_tier_path(tier) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
