<h2>rules for tiering</h2>

<ul>
  <li>there are three tiers, tier 1, tier 2, tier 3</li>
  <li>instructor goes to tier 2 if instructor is new</li>
  <li>instructor goes tier 1 if instructor scores 5 or below on an audit</li>
  <li>instructor goes to tier 3 if instructor scores 6 or above on an audit</li>
  <li>instructor goes tier 1 if student analytics suggest that instructor is not doing well</li>
  <li>instructor goes tier 1 if field ops suggest that instructor is not doing well</li>
</ul>
