<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <%= render 'previous_page' %>
        <h1><i class="fa fa-address-card"></i> Edit User</h1>
      </div>
      <div class="row">
      	<div class="col-md-7">
      		<%= render 'form' %>
      	</div>
      	<div class="col-md-5">
      		<%#= link_to 'View staff\'s profile', @user %>
      	</div>
      </div>
    </div>
  </div>
</div>