<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <span style="float: right; padding-top: 20px; display: inline-block;"> <%= link_to '<< Return to previous page', test_strip_requests_path %></span>
        <h1><i class="fa fa-ticket"></i> Edit Request For More INR Test Strips</h1>
      </div>
      <div class="row">
      	<div class="col-md-7">
      		<%= render 'form' %>
      	</div>
      </div>
    </div>
  </div>
</div>


