<table class="table">
  <%= render '/audits/audits_main_header', report: false %>

  <tbody>
    <% audits.each do |audit| %>
      <%= render '/audits/audits_main_row', audit: audit, report: false %>
    <% end %>
  </tbody>
</table>
