<h1>Listing audits</h1>

<br>

<%= link_to 'New Audit', new_audit_path %>
<br><br>

<h2>Main Stats</h2>

<%= render 'audits/audits_main', audits: @audits %>

<h2>Secondary Stats</h2>

<%= render 'audits/audits_secondary', audits: @audits %>
