<h1>Listing analyses</h1>

<br>

<%= link_to 'New Analysis', new_audit_path %>
<br><br>

<h2>Main Stats</h2>

<%= render 'audits/audits_main', audits: @audits, partOne: true, partTwo: true %>

<h2>Secondary Stats</h2>

<%= render 'audits/audits_secondary', audits: @audits, partOne: true, partTwo: true %>
