<h1 class="center">Listing inrs</h1>

<div class="container">

<p><%= link_to 'Report an INR', new_inr_path, {:class => "btn btn-primary"} %>&nbsp;&nbsp;&nbsp;&nbsp;<%= @message %></p>

  <div class="row">
    <div class="col-6">
      <br><br><br><br>
      <%= render 'inrs', inrs: @inrs, data_tables: true, edit: true %>
    </div>

    <div class="col-6">
      <%= line_chart @chart_data, discrete: true, width: "800px", height: "500px", xtitle: "Dates", ytitle: "INRs" %>    
    </div>
  </div>

</div>