<select class="select2" name="audit_one">
  <% @audits.each do |a| %>
    <option><%= a.instructor%>: <%= a.audit_date %> - <%= %></option>
  <% end %>
</select>

<select class="select2" name="audit_two">
  <% @audits.each do |a| %>

  <% end %>
</select>
