<h1>Listing Regional Directors</h1>

<%= link_to 'New Rd', new_rd_path %>
<br>

<table class="table">
  <thead>
    <tr>
      <th>Rd</th>
      <th>Rd email</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @rds.each do |rd| %>
      <tr>
        <td><%= link_to rd.rd, rd %></td>
        <td><%= rd.rd_email %></td>
        <td><%= link_to 'Edit', edit_rd_path(rd) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
