<h1>Listing universities</h1>

<%= link_to 'New University', new_university_path %>

<table class="table">
  <thead>
    <tr>
      <th>University</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @universities.each do |university| %>
      <tr>
        <td><%= link_to university.university, university %></td>
        <td><%= link_to 'Edit', edit_university_path(university) %></td>
      </tr>
    <% end %>``
  </tbody>
</table>``
