<hr>

<p> First time passwords are the first part of their email address lowercased and 123456. </p>

<p>For example, an email with Mike54@gmail.com's password would be mike54123456</p>

<p>Upon login, the person can update their password to their liking.</p>

<hr>